body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 60px;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.logo {
  font-size: 18px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #ddd;
  text-decoration: none;
  font-size: 15px;
}

.nav-links a:hover {
  color: #4da3ff;
}

.search {
  cursor: pointer;
  font-size: 16px;
}
